<div class="copyright text-center text-sm text-muted text-lg-start">
    © {{ "now"|date("Y") }},
    vyrobeno se <i class="fa fa-heart"></i> od
    <a class="font-weight-bold" target="_blank">xXIamCzechXx</a>
    pro Vaši digitalizaci.
</div>