// ----------------------------------------------------------------------------
// Copyright Bc. Dominik Mach
// All rights reserved
// ----------------------------------------------------------------------------
html {
  scroll-behavior: smooth;
}
.navbar-nav .current > .nav-link:first-child {
  background-image: linear-gradient(195deg, var(--bs-secondary) -10%, var(--bs-primary) 120%);
}
.navbar-nav .current > .nav-link:first-child:hover {
  filter: contrast(1.2);
}
.navbar-nav ul {
  list-style-type: none;
  padding: 0 !important;
}
// ⬇ Kanban styles
#myKanban {
  -ms-overflow-style: none;  /* for IE and Edge */
  scrollbar-width: none;  /* for Firefox */
  overflow-y: auto;
}
.kanban-container {
  margin: 0 !important;
  -ms-overflow-style: none;  /* for IE and Edge */
  scrollbar-width: none;  /* for Firefox */
  overflow-y: auto;
}
#myKanban::-webkit-scrollbar {
  display: none;  /* for Chrome, Safari, Opera*/
}
.kanban-container::-webkit-scrollbar {
  display: none;  /* for Chrome, Safari, Opera*/
}
.card.card-plain {
  padding-bottom: 12px;
}
#login-form label.form-label {
  pointer-events: none;
  z-index: 9;
}
// ⬆ Kanban