{% extends 'base.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block body %}
    <div class="container-fluid px-2 px-md-4" style="min-height: calc(100vh - 200px);">
        <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
            <span class="mask  bg-gradient-primary  opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6 blur shadow-blur">
            <h2>Content is in construction</h2>
        </div>
    </div>
{% endblock %}