<div class="card z-index-2 mt-4">
    <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 me-3 float-start">
            <i class="material-icons opacity-10">multiline_chart</i>
        </div>
        <h6 class="mb-0">Bubble chart</h6>
        <p class="mb-0 text-sm">Users divided by regions</p>
    </div>
    <div class="card-body p-3 pt-0">
        <div class="chart">
            <canvas id="bubble-chart" class="chart-canvas" height="826" style="display: block; box-sizing: border-box; height: 413px; width: 886px;" width="1772"></canvas>
        </div>
    </div>
</div>