<div class="card z-index-2 mt-4">
    <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 me-3 float-start">
            <i class="material-icons opacity-10">insights</i>
        </div>
        <div class="d-block d-md-flex">
            <div class="me-auto">
                <h6 class="mb-0">Line chart</h6>
                <p class="mb-0 text-sm">Product insights</p>
            </div>
            <span class="badge badge-lg badge-dot me-4 d-inline-block text-start">
                <i class="bg-primary"></i>
                <span class="text-dark">Organic</span>
            </span>
            <span class="badge badge-lg badge-dot me-4 d-inline-block text-start">
                <i class="bg-dark"></i>
                <span class="text-dark">Refferal</span>
            </span>
            <span class="badge badge-lg badge-dot me-4 d-inline-block text-start">
                <i class="bg-info"></i>
                <span class="text-dark">Direct</span>
            </span>
        </div>
    </div>
    <div class="card-body p-3 pt-0">
        <div class="chart">
            <canvas id="line-chart" class="chart-canvas" height="600" style="display: block; box-sizing: border-box; height: 300px; width: 886px;" width="1772"></canvas>
        </div>
    </div>
</div>