<div class="card z-index-2 mt-4">
    <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-warning shadow-warning text-center border-radius-xl mt-n4 me-3 float-start">
            <i class="material-icons opacity-10">pie_chart</i>
        </div>
        <h6 class="mb-0">Pie chart</h6>
        <p class="mb-0 text-sm">Analytics Insights</p>
    </div>
    <div class="card-body d-flex p-3 pt-0">
        <div class="chart w-50">
            <canvas id="pie-chart" class="chart-canvas" height="600" style="display: block; box-sizing: border-box; height: 300px; width: 419px;" width="838"></canvas>
        </div>
        <div class="w-50 my-auto ms-5">
            <span class="badge badge-lg badge-dot me-4 d-block text-start">
                <i class="bg-info"></i>
                <span class="text-dark">Facebook</span>
            </span>
            <span class="badge badge-lg badge-dot me-4 d-block text-start">
                <i class="bg-primary"></i>
                <span class="text-dark">Direct</span>
            </span>
            <span class="badge badge-lg badge-dot me-4 d-block text-start">
                <i class="bg-dark"></i>
                <span class="text-dark">Organic</span>
            </span>
            <span class="badge badge-lg badge-dot me-4 d-block text-start">
                <i class="bg-secondary"></i>
                <span class="text-dark">Referral</span>
            </span>
            <p class="text-sm mt-3">
                More than <b>1,200,000</b> sales are made using referral marketing, and <b>700,000</b> are from social media.
            </p>
            <a class="btn bg-gradient-secondary mb-0" href="javascript:">Read more</a>
        </div>
    </div>
</div>