<div class="card z-index-2 mt-4">
    <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 me-3 float-start">
            <i class="material-icons opacity-10">scatter_plot</i>
        </div>
        <h6 class="mb-0">Polar chart</h6>
        <p class="mb-0 text-sm">Analytics Insights</p>
    </div>
    <div class="card-body p-5 pt-0">
        <div class="chart">
            <canvas id="polar-chart" class="chart-canvas" height="702" style="display: block; box-sizing: border-box; height: 351px; width: 351px;" width="702"></canvas>
        </div>
    </div>
</div>